@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic)

$font1: Poppins
$color1: #039be5

.card

    display: block
    width: 300px
    height: 300px
    border: #9e9a9a42 groove
    border-radius: 20px
    margin-bottom: 50px
    overflow: hidden
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.582)
    transition: 350ms all
    cursor: pointer
    filter: contrast(85%)
    
.card:hover
    transform: translateY(12px)
    box-shadow: 0 12px 16px rgba(96, 99, 129, 0.5)
    filter: contrast(100%)
    border-radius: 20px
.titulo
    display: flex
    background-color: #039be5
    height: 45px
    margin: 0
    padding: 10px
    font-family: $font1
    text-align: center
    border-top-left-radius: 18px
    border-top-right-radius: 18px

h3
    align-items: center
    justify-content: center
    text-transform: uppercase
    letter-spacing: 2px
    color: black
    

.fooInfo
    display: flex
    background-color: #C4C4C4
    height: 65px
    margin: 0
    margin-top: 190px
    font-family: $font1
    align-items: center
    justify-content: center
    border-bottom-left-radius: 18px
    border-bottom-right-radius: 18px

p
    font-size: 13px
    margin: 12px
  


